<html>
<head>
<title>My City</title>
</head>
<body>
<h1 align="center">
<font color="red"><b>saidapet</b></font>
</h1>
<h3 align="center">
<font color="blue"><b>kishore Kumar B(25007664)</b></font>
</h3>
<center>
{% load static %}

<img src="{% static 'image.png' %}" usemap="#image-map">


<map name="image-map">
    <area target="" alt="anna university" title="anna university" href="/p1/" coords="702,324,539,435" shape="rect">
    <area target="" alt="guindy" title="guindy" href="/p2/" coords="478,432,315,514" shape="rect">
    <area target="" alt="siadapet" title="siadapet" href="/p3/" coords="499,141,341,242" shape="rect">
    <area target="" alt="kasi theatre" title="kasi theatre" href="/p4/" coords="187,5,0,109" shape="rect">
    <area target="" alt="tech park" title="tech park" href="/p5/" coords="194,290,13,403" shape="rect">

</map>
</center>
</body>
</html>
