<html>
<head>
  <title>Kasi Theatre</title>
</head>
<body bgcolor="lightyellow">

  <h1 align="center">
    <font color="darkgreen"><b>Chennai</b></font>
  </h1>

  <h3 align="center">
    <font color="brown"><b>Kasi Theatre</b></font>
  </h3>

  <hr size="3" color="green">

  <p align="justify">
    <font face="Georgia" size="5">
      Kasi Theatre is one of the most popular and iconic cinema theatres in Chennai, 
      located in Ashok Nagar. It is a favorite destination for movie lovers, known for 
      its lively atmosphere and energetic crowds. With its large screens and modern 
      digital facilities, Kasi Theatre has been entertaining audiences for decades. 
      More than just a theatre, it stands as a landmark of Chennai’s vibrant 
      cinema culture.
    </font>
  </p>

</body>
</html>

